<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Vidjot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user }}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            id="navbarDropDownMenuLink">Video Ideas</a>
                        <div class="dropdown-menu">
                            <a href="/ideas" class="dropdown-item">Ideas</a>
                            <a href="/ideas/add" class="dropdown-item">Add</a>
                        </div>
                    </li>
                    <form action="/users/logout" method="POST">
                        <li class="nav-item">
                            <a href="/users/logout" class="nav-link">Logout</a>
                        </li>
                    </form>
                    {{!-- {{else}} --}}
                    {{!-- {{#if name}} --}}
                    {{!-- <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            id="navbarDropDownMenuLink">Video Ideas</a>
                        <div class="dropdown-menu">
                            <a href="/ideas" class="dropdown-item">Ideas</a>
                            <a href="/ideas/add" class="dropdown-item">Add</a>
                        </div>
                    </li>
                    <form action="/users/logout" method="POST">
                        <li class="nav-item">
                            <a href="/users/logout" class="nav-link">Logout</a>
                        </li>
                    </form> --}}
                    {{else}}
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link">Register</a>
                    </li>
                    {{/if}}
                    {{!-- {{/if}} --}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{#if success_msg}}
        <div class="alert alert-success alter-block mb-2">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alter-danger alter-block mb-2">{{error_msg}}</div>
        {{/if}}
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>